Source: system76-ubuntu-repo
Section: utils
Priority: extra
Maintainer: System76 <dev@system76.com>
Build-Depends: debhelper (>= 9.20160709),
Standards-Version: 4.5.0
Homepage: https://github.com/pop-os/system76-ubuntu-repo

Package: system76-ubuntu-repo
Architecture: amd64 arm64
Depends: ${misc:Depends},
Description: APT repository for System76 computers running Ubuntu
